<div class='mb-4 p-5 container-fluid bg-light rounded-3'>
	<div class='container'>
		<h1 class='display-4 fw-bold'>{{this.titulo}}</h1>
		<p class='col-md-4 fs-4'>{{this.descripcion}}</p>
	</div>
</div>