<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		{{! BOOTSTRAP }}
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
		<script defer src='/bootstrap/js/bootstrap.bundle.js'></script>
		<title>Encuentra tu anime</title>
	</head>
	<body>
		{{>nav }}
		<div class="m-4">
		{{{body}}}

		</div>

		
	</body>
</html>