{{>jumbotron titulo='Encuentra tu anime' descripcion='Busca tu animé favorito en la tabla de abajo y actualiza o borra sus datos. Tambien puedes agregar un animé nuevo desde el menu de navegación o buscar un nombre y encontrar más información'}}

<div class="container pt-4 border-top">
    <h3 class="text-center">Lista de animes registrados</h3>
    {{>table animes=animes}}
</div>